.breed-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.breed-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.breed-details-container {
	margin-top: 20px;
	width: 90%;
	padding: 20px;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.cat-heading {
	font-size: 36px;
	margin-bottom: 20px;
	color: #333;
}

.click-instructions {
	text-align: center;
	color: #666;
	font-size: 14px;
	margin-bottom: 10px;
  }